/* Line-through a task name on toggle. */
.task.completed {
    text-decoration: line-through;
}

/* General styling */
* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}